@charset "utf-8";

p {
	font-size:40px;
	color:#99CCCC;
	align-content:center;	
}
#member_table{
	width:1150px;
    border-top:2px solid black;
    border-bottom:2px solid black;
}
#search_table{
	width:100%;
}
#member_table th, #search_table th{
	font-weight:bold;
	background:#99CCCC;
    text-align:center;
    font-size:0.9em;

}
.btn_search{
	text-align:center;
}

#member_table th, #member_table td {
    border-top:1px solid gray;
    padding:7px 0 7px 0;
    text-align:center;
}
#div_form {
	position:relative;
	width:1150px;
	top:-100px;
	margin:50px auto 50px auto;
}